.h1{
    color: #525252;
}
#upperBar{
    background-color: #525252;
}
#addToCartButton{
    color: #525252;
}
#productName{
  /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: bolder;
    color: #525252;

}
#category{
    color: #525252;
}
#leftColumn{
    background-color: #e6e6e6;
    transition: width .4s ease-in-out;
    -webkit-transition: width .4s ease-in-out;
}
#reviewNavButton{
    color: #525252;
}

#logo{
    color:#e6e6e6;
}
#rightColumn{
    transition: width .4s ease-in-out;
    -webkit-transition: width .4s ease-in-out;

}

.arrow:hover{
    box-shadow: 1px 1px 1px 1px gray;
}
#zoomedImage{
    -moz-transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -o-transform: scale(2.5);
    -ms-transform: scale(2.5);
    transform: scale(2.5);
}